*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    background-position: center;
    position: relative;
    position: relative;
}
.navbar{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width: 100%;
    cursor: pointer;
}
.navbar ul il{
    list-style: none;
    display: inline-block;
    margin:0 15px;

}
.navbar ul il{
    text-decoration: none;
    color: deeppink;
    font-size: 15px;
}
.content{
    width: 100%;
    position: absolute;
    top: 30%;
}
.left-col{
    margin-left: 6px;
}
